#gameCanvas {
        background-color: black;
}

#container {
        padding: 2em;
}

pre {
        margin: 1em;
        padding: 1em;
        border: 1px dotted #000000;
        background-color: #eeeeee;
        font-weight: bold;
}
